[submodule "dep/external/azure-iot-sdk-c"]
	path = dep/external/azure-iot-sdk-c
	url = https://github.com/Azure/azure-iot-sdk-c.git
[submodule "dep/external/gtest"]
	path = dep/external/gtest
	url = https://github.com/google/googletest.git
[submodule "dep/internal/iot"]
	path = dep/internal/iot
	url = https://github.com/GlobalLogic-SDV-PoC/github-sdv-poc-msp-iot-bridge.git
